<li class="flight-result">
    <div class="flight-result-detail">
        <h2 class="price"><%= data.price %></h2>
        <p class="flight-id"><%= data.flightid %></p>
        <div class="src-dest">
            <span class="result-src"><%= data.src %></span> >
            <span class="result-dest"><%= data.dest %></span>
        </div>
        <div class="depart">
            <label> DEPART: </label>
            <span class="departTime"><%= data.departTime %></span>
        </div>
        <div class="arrival">
            <label> ARRIVAL: </label>
            <span class="arrivalTime"><%= data.arriveTime %></span>
        </div>
    </div>
    <div class="flight-image">
        <img src="">
    </div>
</li>